@using Abstraction.Models
@model WebApp.Models.TransactionRequest

@{
    ViewData["Title"] = "Add New Transactoion";
}

<h1>Add New Transactoion</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x=>x.PortfolioId)
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract" class="control-label"></label>
                <input asp-for="Contract" class="form-control" />
                <span asp-validation-for="Contract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<TransactionType>()">
                    <option value="">Choose TransactionType</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currencies" class="control-label"></label>
                @Html.DropDownList("CurrencyId", Model.Currencies,new { @class="form-control" })
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("back to portfolio", "Index","Portfolio", new {  id=Model.PortfolioId})
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
